<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Administrador - BetUTM 71</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="admin-body">

    <div class="admin-box">
        <h1>Bienvenido a modificar</h1>
        <p>Selecciona la sección que deseas administrar:</p>
        
        <a href="/admin/usuarios" class="admin-btn">Usuarios</a>
        <a href="/admin/partidos" class="admin-btn">Partidos</a>

        <a href="/" class="btn-volver-admin">Volver al inicio</a>
    </div>

</body>
</html>